.container {
    margin-inline: 20%;
    padding: 0;
}

.content {
    margin: 0;
}

/* tablet */
@media (max-width: 1150px) {
    .container {
        margin-inline: 3.6rem;
        padding-inline: 0.6rem;
    }
}

/* mobile */
@media (max-width: 640px) {
    .container {
        margin-inline: 1rem;
        padding-inline: 1.25rem;
    }
}