* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    min-height: 100vh;
    font-family: 'Roboto';
    color: var(--font-color);
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

section,
div {
    scroll-margin-top: 100px;
}