:root {
    --background-nav: #F3F3F3;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--background-nav);
    padding: 2rem;
}

.linksNavbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.linksNavbar a {
    text-decoration: none;
    color: var(--font-color)
}

.buttonsNavbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
}

